<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<iframe frameborder="0" marginheight="0" src="Intro" name="intro"></iframe>
	<iframe frameborder="0" marginheight="0" src="consultant" name="consultant"></iframe>
	<iframe frameborder="0" marginheight="0" src="Results"></iframe>
	<iframe frameborder="0" marginheight="0" src="Seller"></iframe>
	<title>HUB</title>
	</script>
	<style type="text/css">
		body, iframe, html {
			margin: 0;
			padding:0;
		}
		iframe {
			width: 100vw;
			height: 100vh;
		}
		body::-webkit-scrollbar {
    		display: none;
		}
	</style>
</head>
<body>
</body>
</html>
