	<style>
		html, body {
		margin :0;
		padding: 0;
	    background:url(Background.svg) no-repeat fixed;
	    background-size: cover;
		}
		body::-webkit-scrollbar { 
    		display: none; 
		}
		.wrapper {
		}
		.Pentagon {
			position : absolute ;
			height: 66vh;
			top: 7.9vh;
			left: 9.2vh;

		}
		.Penta_Upper {
			position : absolute ;
			height: 43vh;
			top: 25vh;
			left: 26vh;
		}
		.Pic1 {
			position : absolute ;
			height: 58vh;
			top: 20vh;
			left: 65vh;
		}
		.Pic2 {
			position : absolute ;
			height: 58vh;
			top: 20vh;
			left: 111vh;
		}
		.Pic3 {
			position : absolute ;
			height: 58vh;
			top: 20vh;
			left: 158vh;
		}
		.Logo1 {
			position : absolute ;
			height: 7.3vh;
			top: 6vh;
			left: 176vh;
		}
		.Login1 {
			position : absolute ;
			height: 7.3vh;
			top: 6vh;
			left: 161vh;
		}	
		.Logout1 {
			position : absolute ;
			height: 7.3vh;
			top: 6vh;
			left: 161vh;
			display: none;
		}	
		.Triangle {
			position : absolute ;
			height: 31vh;
			top: 58vh;
			left: 102vh;
		}
		.Busan {
			position : absolute ;
			height: 47vh;
			top: 24vh;
			left: 74vh;
		}	
		.Daegu {
			position : absolute ;
			height: 47.9vh;
			top: 28.1vh;
			left: 64.5vh;
		}	
		.Ulsan {

			position : absolute ;
			height: 47.7vh;
			top: 37.3vh;
			left: 54.7vh;
		}		
		.Seoul {
			position : absolute ;
			height: 58.1vh;
			top: 21.4vh;
			left: 44.9vh;
		}
		.Incheon {
			position : absolute ;
			height: 68.2vh;
			top: 7.35vh;
			left: 35.1vh;
		}		
		.Daejeon { 
			position : absolute ;
			height: 68.4vh;
			top: 13.5vh;
			left: 15.5vh;
		}
		.Gwangju {
	       	position : absolute ;
			height: 68.2vh;
			top: 26.5vh;
			left: 24.3vh;
		}	
		.Intro_title {
			position : absolute ;
			height: 44.1vh;
			top: 27.4vh;
			left: 20.6vh;
		}
		.GO {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
		}
	</style>