	<style type="text/css">
		.LogoW {
			position : absolute ;
			height: 7.3vh;
			top: 6vh;
			left: 176vh;
		}
		.RBox {
			position : absolute ;
			height: 72.1vh;
			top: 15.6vh;
			left: 27.2vh;
		}
		.RTitle {
			position : absolute ;
			height: 13.4vh;
			top: 38vh;
			left: 93vh;
		}
		.readonlyBox {
			position : absolute ;
			height: 13.5vh;
			top: 57.2vh;
			left: 103vh;
			width: 24.448vw;
			background-color: transparent;
			border-style: solid;
			border-color: white;
			border-width: 1.5vh;
		}
		.suggestion {
			position: absolute;
			font-family: Nanum;
			color:white;
			font-size: 2vh;
			left: 131vh;
			top: 72vh;
		}
		.LogoW {
			position : absolute ;
			height: 7.3vh;
			top: 6vh;
			left: 176vh;
		}	
		.LoginW {
			position : absolute ;
			height: 7.3vh;
			top: 6vh;
			left: 161vh;
		}
		a:link { color: white; text-decoration: none;}
		a:visited { color: white; text-decoration: none;}
		a:hover { color: white; text-decoration: none;}
	</style>