<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style>
    .target{
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <div class="target">
    {% for item in result %}
      {% if item.no <= 3 %}
        <p>{{item.name}}</p>
        <p>{{item.phone}}</p>
        <p>{{item.img}}</p>
        <p><img src="/static/IMG/{{item.img}}.jpg"></p>
      {% endif %}
    {% endfor %}
  </div>
  <button type="button" class="next">NEXT</button>
</body>
</html>

<script>
  var num = 2;

  $('.next').click(function(){
    $.ajax({
      type:'POST',
      url:'testAjax',
      data:{
        'num':num
      },
      dataType:'json',
      success:function(result){
        $('.target').empty()
        for(var i=0; i<result.length; i++){
          var content ='';
          content += '<p>' + result[i].name + '</p>';
          content += '<p>' + result[i].phone + '</p>';
          content += '<p><img src="/static/IMG/' + result[i].img + '.jpg"></p>';
          $('.target').append(content);
          console.log(num)
        }

        if(num==2){
          num = 1;
        }else{
          num = 2;
        }
      }
    })
  })
</script>
